* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
}

body {
  display: flex;
  background-color: lightpink;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  margin: 0;
  margin-top: 15px;
  min-height: 100vh;
}
h1 {
  position: fixed;
  top: 12px;
  text-decoration: underline;
  font-weight: 700;
  font-family: "PT Serif", serif;
  text-shadow: 3px 1px 5px red;
  /* horizontal vertical blur color */
}

.carousel {
  box-shadow: 5px 2px 2px rgba(0, 0, 0, 0.3);
  /* horizontal vertical blur color */
  overflow: hidden;
  height: 600px;
  width: 600px;
}

.image-container {
  display: flex;
  transition: transform 0.5s ease-in-out;
  transform: translateX(0);
}

/* image -container size will be 500px
 because it expand itself by the size
 of the content inside it which is the image which here is 600px *600px */

img {
  object-fit: cover;
  height: 600px;
  width: 600px;
}

/* ------------------------------------------------------------------------- */

.heart {
  position: fixed;
  font-size: 1.5rem;
  top: -1vh;
  transform: translateY(0);
  animation: fall 3s linear forwards;
}

@keyframes fall {
  from {
    transform: translateY(0vh) translateX(-10vw);
  }
  to {
    transform: translateY(105vh) translateX(10vw);
  }
}
